@import "~bootstrap/scss/bootstrap";

.search-bar {
  width: 20rem;
  background: #f2f1f9;
  border: none;
  padding: 0.5rem;
}

.table-btn {
  width: 100%;
}

.table td {
  vertical-align: inherit !important;
}
